body{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{

    background: rgba(15, 13, 150, 0.884);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline{

    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{

    width: 70%;
    text-align: left;
    border: 1.5px solid #8c8f7ee6;
    margin: 0 auto;
}

#post h1{
margin: 1em;
font-size: 20px;
}

#post p{
margin: 1em;
}